.topo {
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(138, 144, 145);
}

body {
  font: normal medium/1.4 sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  padding: 0.25rem;
  text-align: center;
  border: 1px solid #ccc;
}

td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
  background: #eee;
}

main {
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
  background-color: rgb(243, 245, 245);
}